# Logs
logs
*.log

# IDE
.project
.classpath
.settings
.idea/
*.iml*
*.ipr
.brackets.json
.vscode/
.history

# Maven
target/

# File Vault (VLT) / Sync
.vlt
.vlt-sync*

# Mac OS X
.DS_Store
*.swp

# Node related files
node_modules/
node/
bin/
typings
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.stylelintcache
.eslintcache

# env
\.env

# bundle css and js files and maps
*.bundle.*
*.chunk.*
symbols.svg
.tmp/
.cache-loader
dist/

# Svg Icons Temp folder
tmp/
coverage/

# coverage folder
coverage/

# Bundle Analyser
frontend/stats.json
