@use 'variables';

body {
  color: variables.$secondary-color;
  background-color: variables.$primary-color;

  @media (min-resolution: 2dppx) {
    .image {
      background-image: url('image@2x.png');
    }
  }
}
